<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Todo App</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <div id="todo-table">
      <form action="">
         <input type="text" name="item" placeholder="Add new item..." required>
         <button type="submit">Add Item</button>
      </form>
      <ul>
         <% for(let i=0; i < todos.length; i++){ %>
            <li><%=todos[i].item%></li>
            <% } %>
      </ul>
   </div>
</body>
</html>